@import "tailwindcss";

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: none;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter:hover{
  background-color: #562ee786;
}

.gutter.gutter-horizontal{
    cursor: col-resize;
}

.gutter.gutter-vertical{
  cursor: row-resize;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 8px; /* Adjust width as desired */
}

::-webkit-scrollbar-track {
  background: none; /* Light grey background */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Darker grey for the thumb */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Slightly darker on hover */
}
